
  .ticker-view {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    position: relative;
  }
  
  .number-placeholder {
    visibility: hidden;
  }
  
  .ticker-column-container {
    position: relative;
  }
  
  .ticker-column {
    position: absolute;
    bottom: 0;
  }
  
  .ticker-digit {
    height: 10%;
  }
  
  .ticker-column.increase {
    animation: pulseGreen 500ms cubic-bezier(0.4, 0, 0.6, 1) 1;
  }
  
  .ticker-column.decrease {
    animation: pulseRed 500ms cubic-bezier(0.4, 0, 0.6, 1) 1;
  }
  
  @keyframes pulseGreen {
    0%,
    100% {
      color: black;
    }
  
    50% {
      color: red;
    }
  }
  
  @keyframes pulseRed {
    0%,
    100% {
      color: black;
    }
  
    50% {
        color: red;
    }
  }
  